@define-color bg-hover #f28668;
@define-color lbg #131721;
@define-color bg #0b0e14;
@define-color blue #73b8ff;
@define-color sky #95e6cb;
@define-color red #f07178;
@define-color pink #f28779;
@define-color lavender #d2a6ff;
@define-color rosewater #f07178;
@define-color flamingo #f07178;
@define-color fg #bfbdb6;
@define-color green #7fd962;
@define-color active-green #aad94c;
@define-color dark-fg #787bb0;
@define-color peach #f2966b;
@define-color border @lavender;
@define-color gray2 #cccac2;
@define-color black4 #0d1017;
@define-color black3 #131721;
@define-color maroon #d95757;
@define-color yellow #FF8F40;

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  border-radius: 7px;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 10pt;
  font-weight: 700;
  padding-bottom: 0px;
}

tooltip {
  background: @bg;
  border-radius: 7px;
  border: 2px solid @border;
}

#window {
	margin: 5px 5px 2px 5px;
	padding-left: 10px;
	padding-right: 7px;
	border-radius: 7px;
	border-bottom: 2px solid @bg;
	border-right: 2px solid @bg;
	background-color: @yellow;
	color: @bg;
}

window#waybar.empty #window {
	background-color: transparent;
	border-bottom: none;
	border-right: none;
}

window#waybar {
  background-color:transparent;
  color: @lavender;
}

/* Workspaces */
@keyframes button_activate {
	from { opacity: .3 }
	to { opacity: 1.; }
}

#workspaces {
  margin: 5px 5px 2px 5px;
  border-radius: 7px;
  padding: 1px;
  background-color: @bg;
  color: @bg;

}

#workspaces button {
  margin: 5px 2px 5px 2px;
  border-radius: 5px;
  padding-left: 1px;
  padding-right: 1px;
  background-color: @bg;
  color: @fg;
}

#workspaces button.active {
    background-color:@yellow;
    color: @bg;
    /*color: @bg;*/

}

#workspaces button.urgent {
	color: #F38BA8;
}

#workspaces button:hover {
  border: solid transparent;
}

#custom-gpu-util {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: @bg;
  color: @fg;
}

#tray {
  margin: 5px 5px 2px 5px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: @bg;
  color: @fg; 
}

#idle_inhibitor {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 12px;
  border-radius: 7px;
  background-color: @bg;
  color: @fg;
}


#network {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 12px;
  border-radius: 7px;
  background-color: @bg;
  color: @lavender;
}

#network.linked {
  color: @peach;
}
#network.disconnected,
#network.disabled {
  color: @red;
}

#custom-subs {
	color: @bg;
	margin: 5px 5px 2px 5px;
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 7px;
    background-color: @rosewater;

}


#custom-cliphist {
	color: @peach;
	margin: 5px 5px 2px 5px;
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 7px;
    background-color: @bg;

}

#custom-gpu-temp,
#cpu,
#memory,
#custom-clipboard,
#temperature {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @fg;
  background-color: @bg;
}

#custom-playerctl {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @fg;
  background-color: @bg;
}

#battery,
#backlight,
#bluetooth,
#pulseaudio {
  margin-top: 5px;
  margin-bottom: 2px;
  color: @fg;
  background-color: @bg;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;

}

#battery,
#bluetooth {
	margin-left: 0px;
	margin-right: 5px;
	padding-left: 7.5px;
	padding-right: 10px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

#backlight,
#pulseaudio {
	margin-right: 0px;
	margin-left: 5px;
	padding-left: 10px;
  	padding-right: 7.5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

#clock {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @fg;
  background-color: @bg;
}

#mode {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: @bg;
  color: @peach;
}
